{% extends "base.html" %} {% block title %}{{ args.title }}{% endblock %} {% block content %}
<!-- <a href="/statisticsdetails/author_search" class="returnBtn">Return</a> -->
<h1>Author Name: <b>{{ args.title }}</b></h1>
<table id="datatable">
    <thead>
        <tr>
            {% for column in args.data[0] %}
            <th>{{ column }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in args.data[1] %}
        <tr class="publications">
            <td>Number of publications</td>
            {% for data_item in row %}
            <td>{{ data_item }}</td>
            {% endfor %}
        </tr>
        {% endfor %} {% for row in args.data[2] %}
        <tr class="firstAuthor">
            <td>Number of times first author</td>
            {% for data_item in row %}
            <td>{{ data_item }}</td>
            {% endfor %}
        </tr>
        {% endfor %} {% for row in args.data[3] %}
        <tr class="lastAuthor">
            <td>Number of times last author</td>
            {% for data_item in row %}
            <td>{{ data_item }}</td>
            {% endfor %}
        </tr>
        {% endfor %} {% for row in args.data[4] %}
        <tr class="soleAuthor">
            <td>Number of times sole author</td>
            {% for data_item in row %}
            <td>{{ data_item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% for row in args.data[5] %} {% for data_item in row %}
<div class="coAuthor">
    <b>Number of co-authors: <i>{{ data_item }}</i></b>
</div>
{% endfor %} {% endfor %}
<script type="text/javascript">
$(function() {
    Highcharts.chart('container', {
        data: {
            table: 'datatable'
        },
        chart: {
            type: 'column'
        },
        title: {
            text: 'Author Details'
        },
        yAxis: {
            allowDecimals: false,
            title: {
                text: 'Numbers'
            }
        },
        tooltip: {
            formatter: function() {
                return '<b>' + this.series.name + '</b><br/>' +
                    this.point.y + ' ' + this.point.name.toLowerCase();
            }
        }
    });
});
</script>
<div id="container"></div>
{% endblock %}
