<!doctype html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/function.css">
    <link rel="stylesheet" type="text/css" href="../static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="../static/js/jquery.js"></script>
    <script type="text/javascript" src="../static/js/move-top.js"></script>
    <script type="text/javascript" src="../static/js/easing.js"></script>
    <script src="../static/js/highcharts.js"></script>
    <script src="../static/js/exporting.js"></script>
    <script src="../static/js/data.js"></script>
    <script type="text/javascript">
    $(function() {
        $(".nav-fir").mouseenter(function() {
            $(this).find(".nav-sec").animate({
                "height": "130%",
            }, 400)
        })
        $(".nav-fir").mouseleave(function() {
            $(this).find(".nav-sec").animate({
                "height": "0",
            }, 400)
        })
    });
    </script>
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        $().UItoTop({
            easingType: 'easeOutQuart'
        });
        $(".scroll").click(function(event) {
            event.preventDefault();
            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });
    });
    </script>
</head>

<body>
    <div id="page">
        <div id="header">
            <div id="navigation">
                <nav>
                    <div class="m-menu f-cb">
                        <div class="nav-fir"><a href="/">Home</a></div>
                        <div class="nav-fir"><a href="/statisticsdetails/publication_summary">Publications</a></div>
                        <div class="nav-fir">
                            <a href="#Authors" class="scroll">Authors</a>
                            <div class="nav-sec">
                                <ul>
                                    <li><a href="/statisticsdetails/publication_author_sortable">Publication by Author</a></li>
                                    <li><a href="/statisticsdetails/author_appearingtimes">Author by appearing times</a></li>
                                    <li><a href="/statisticsdetails/author_search">Author Search</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="nav-fir">
                            <a href="#Co-authors" class="scroll">Co-authors</a>
                            <div class="nav-sec">
                                <ul>
                                    <li><a href="/coauthors">Co-author Details</a></li>
                                    <li><a href="/coauthorDegree">Co-author Degree</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="nav-fir">
                            <a href="#Year" class="scroll">Year Data</a>
                            <div class="nav-sec">
                                <ul>
                                    <li>
                                        <a href="/statisticsdetails/publication_year">Publication by year</a>
                                    </li>
                                    <li>
                                        <a href="/statisticsdetails/author_year">Author by year</a>
                                    </li>
                                    <li>
                                        <a href="/averages">Averaged year data</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="nav-fir"><a href="#Help">Help</a></div>
                    </div>
                </nav>
            </div>
        </div>
        <div id="content">
            <div class="m-box">{% block content %}{% endblock %}</div>
            <footer>
                <p class="u-copy">&copy; 2016 Beedle. All Rights Reserved.</p>
            </footer>
        </div>
    </div>
</body>

</html>
