{% extends "base.html" %} {% block title %}{{ args.title }}{% endblock %} {% block content %}
<script type="text/javascript">
	$(function(){
		$(".searchBtn").bind("click",function(){
			$.getJSON("/getcoauthorTest/Search",{
				searchText: $('input[name="searchText"]').val()
			},function(data){
				$("thead th").text($("#searchText").val());
				$("tbody td").text(data.coauthors);
			});
			return false;
		})
	})
</script>
<form name="authorSearch" action="/getcoauthorTest" method="get" class="authorSearch">
    <input type="text" name="searchText" id="searchText" maxlength="50">
    <a class="searchBtn" href="#" style="background: #26B8FA;color: #fff;padding:10px;border-radius: 5px;float: right;margin-top: -14px;display: inline-block;">Search</a>
</form>
<h1>{{ args.title }}</h1>
<table style="position:relative;top: 50px;">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>
{% endblock %}
