{% extends "base.html" %} {% block title %}Home{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/indexStyle.css">
<script src="../static/js/index.js"></script>
<div class="g-content">
    <div class="m-intro">
        <div class="m-intro-content">
            <div class="m-box">
                <h1 class="u-dataset">COMP62521: {{ args.dataset }}</h1>
            </div>
        </div>
        <div class="m-intro-bg"></div>
    </div>
    <div class="m-main">
        <div class="m-pub">
            <div class="m-box">
                <i class="fa fa-book fa-2x"></i>
                <br>
                <h2><a href="/statisticsdetails/publication_summary">Publications</a></h2>
                <div class="pub-summary f-cb">
                    <div class="m-sum f-fl"><i class="fa fa-newspaper-o fa-2x"></i>
                        <br><b>Total Publications</b>
                        <br>
                        <a href="#" class="totalPub"></a>
                    </div>
                    <div class="m-sum f-fr"><i class="fa fa-user fa-2x"></i>
                        <br><b>Total Authors</b>
                        <br>
                        <a href="#" class="totalAuth"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-author" id="Authors">
            <div class="m-box f-cb">
                <i class="fa fa-users fa-2x"></i>
                <br>
                <h2>Authors</h2>
                <div class="m-auth-details f-cb">
                    <div class="author-part">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <a href="/statisticsdetails/publication_author_sortable"><span data-hover="Publication by Author">Publication by Author</span></a>
                        <p>This page shows the publication details and figures in each author, such as number of conference papers, journals, books and book chapters.
                        </p>
                    </div>
                    <div class="author-part">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <a href="/statisticsdetails/author_appearingtimes"><span data-hover="Author by appearing times">Author by appearing times</span></a>
                        <p>This page display the data of appearing times for each author, which include the information of the number of times in first author, last author and sole-authored papers respectively.
                        </p>
                    </div>
                    <div class="author-part">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <a href="/statisticsdetails/author_search"><span data-hover="Author search">Author search</span></a>
                        <p>This page is very convenient as it provide search method for users. People could have quick view of information to all authors as well as search what they want to see.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-coauthor" id="Co-authors">
            <div class="m-box f-cb">
                <i class="fa fa-handshake-o fa-2x"></i>
                <br>
                <h2>Co-authors</h2>
                <div class="m-coauth-details f-cb">
                    <div class="coauthor-part">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <a href="/coauthors">Co-author Details</a>
                        <p>From this page, you can view each author and all their co-authors.
                        </p>
                    </div>
                    <div class="coauthor-part">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <a href="/coauthorDegree">Co-author Degree</a>
                        <p>This is Co-authors Degree Page that you can get the exact degree between two authors</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-year" id="Year">
            <div style="width: 1170px;margin: 0 auto;">
                <i class="fa fa-table fa-2x"></i>
                <br>
                <h2>Year Data</h2>
                <div class="m-charts f-cb">
                    <div class="m-charts-left f-fl">
                        <h3><a href="/statisticsdetails/publication_year">Publications By Year</a></h3>
                        <div id="pubByYear" class="chartPic"></div>
                    </div>
                    <div class="m-charts-right f-fr">
                        <h3><a href="/statisticsdetails/author_year">Authors By Year</a></h3>
                        <div id="authByYear" class="chartPic"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
