<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>navigation</title>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/function.css">
    <link rel="stylesheet" type="text/css" href="../static/css/indexStyle.css">
    <link rel="stylesheet" type="text/css" href="../static/font-awesome/css/font-awesome.min.css">
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <script type="text/javascript" src="../static/js/easing.js"></script>
    <script type="text/javascript" src="../static/js/move-top.js"></script>
    <script src="../static/js/highcharts.js"></script>
    <script src="../static/js/exporting.js"></script>
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        $().UItoTop({
            easingType: 'easeOutQuart'
        });
        $(".scroll").click(function(event) {
            event.preventDefault();
            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });
    });
    </script>
    <script type="text/javascript">
    $(function() {
        $(".nav-fir").mouseenter(function() {
            $(this).find(".nav-sec").animate({
                opacity: '1'
            }, 400)
        })
        $(".nav-fir").mouseleave(function() {
            $(this).find(".nav-sec").animate({
                opacity: '0'
            }, 400)
        })
    })
    </script>
    <script type=text/javascript>
    $(function() {
        $.getJSON('/index/totalPub', function(data) {
            $(".totalPub").text(data.totalPub);
        });
        $.getJSON('/index/totalAuth', function(data) {
            $(".totalAuth").text(data.totalAuth);
        });
    });
    </script>
    <script type="text/javascript">
    $(function() {
        $.ajax({
            url: '/index/pubByYear',
            type: 'GET',
            async: true,
            dataType: "json",
            success: function(data) {
                var Data = data.args.data[1];
                var year = [];
                var journals = [];
                var books = [];
                var conference = [];
                var chapers = [];
                var total = [];
                for (i = 0; i < Data.length; i++) {
                    year.push(parseInt(Data[i][0]));
                    conference.push(parseInt(Data[i][1]));
                    journals.push(parseInt(Data[i][2]));
                    books.push(parseInt(Data[i][3]));
                    chapers.push(parseInt(Data[i][4]));
                    total.push(parseInt(Data[i][5]));
                }
                pubByYearData(year, conference, journals, books, chapers, total);
            }
        });

        $.ajax({
            url: '/index/authByYear',
            type: 'GET',
            async: true,
            dataType: "json",
            success: function(data) {
                var Data = data.args.data[1];
                var year = [];
                var journals = [];
                var books = [];
                var conference = [];
                var chapers = [];
                var total = [];
                for (i = 0; i < Data.length; i++) {
                    year.push(parseInt(Data[i][0]));
                    conference.push(parseInt(Data[i][1]));
                    journals.push(parseInt(Data[i][2]));
                    books.push(parseInt(Data[i][3]));
                    chapers.push(parseInt(Data[i][4]));
                    total.push(parseInt(Data[i][5]));
                }
                authByYearData(year, conference, journals, books, chapers, total);
            }
        });

        function pubByYearData(year, conference, journals, books, chapers, total) {
            Highcharts.chart('pubByYear', {
                title: {
                    text: 'Publication by Year',
                },
                xAxis: {
                    categories: year
                },
                yAxis: {
                    title: {
                        text: 'Number'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: [{
                    name: 'Number of conference papers',
                    data: conference
                }, {
                    name: 'Number of journals',
                    data: journals
                }, {
                    name: 'Number of books',
                    data: books
                }, {
                    name: 'Number of book chapers',
                    data: chapers
                }, {
                    name: 'Total',
                    data: total
                }]
            });
        }

        function authByYearData(year, conference, journals, books, chapers, total) {
            Highcharts.chart('authByYear', {
                title: {
                    text: 'Author by Year',
                },
                xAxis: {
                    categories: year
                },
                yAxis: {
                    title: {
                        text: 'Number'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: [{
                    name: 'Number of conference papers',
                    data: conference
                }, {
                    name: 'Number of journals',
                    data: journals
                }, {
                    name: 'Number of books',
                    data: books
                }, {
                    name: 'Number of book chapers',
                    data: chapers
                }, {
                    name: 'Total',
                    data: total
                }]
            });
        }
    });
    </script>
</head>

<body>
    <nav>
        <div class="m-menu f-cb">
            <div class="nav-fir"><a href="/">Home</a></div>
            <div class="nav-fir"><a href="/statisticsdetails/publication_summary">Publication Summary</a></div>
            <div class="nav-fir">
                <a href="#Authors" class="scroll">Authors</a>
                <div class="nav-sec">
                    <ul>
                        <li><a href="/coauthors">Co-authors</a></li>
                    </ul>
                    <ul>
                        <li><a href="/statisticsdetails/publication_author_sortable">Publication by Author</a></li>
                    </ul>
                    <ul>
                        <li><a href="/statisticsdetails/author_appearingtimes">Author by appearing times</a></li>
                    </ul>
                    <ul>
                        <li><a href="/statisticsdetails/author_search">Author Search</a></li>
                    </ul>
                </div>
            </div>
            <div class="nav-fir">
                <a href="#Year" class="scroll">Year Data</a>
                <div class="nav-sec">
                    <ul>
                        <li>
                            <a href="/statisticsdetails/publication_year">Publication by year</a>
                        </li>
                        <li>
                            <a href="/statisticsdetails/author_year">Author by year</a>
                        </li>
                        <li>
                            <a href="/averages">Averaged year data</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="nav-fir"><a href="#Help">Help</a></div>
        </div>
    </nav>
    <div class="g-content">
        <div class="m-intro">
            <div class="m-intro-content">
                <div class="m-box">
                    <h1 class="u-dataset">COMP62521: {{ args.dataset }}</h1>
                </div>
            </div>
            <div class="m-intro-bg"></div>
        </div>
        <div class="m-main">
            <div class="m-pub">
                <div class="m-box">
                    <i class="fa fa-book fa-2x"></i>
                    <br>
                    <h2><a href="/statisticsdetails/publication_summary">Publications</a></h2>
                    <div class="pub-summary f-cb">
                        <div class="m-sum f-fl"><i class="fa fa-newspaper-o fa-2x"></i>
                            <br><b>Total Publications</b>
                            <br>
                            <a href="#" class="totalPub"></a>
                        </div>
                        <div class="m-sum f-fr"><i class="fa fa-user fa-2x"></i>
                            <br><b>Total Authors</b>
                            <br>
                            <a href="#" class="totalAuth"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-author" id="Authors">
                <div class="m-box f-cb">
                    <i class="fa fa-users fa-2x"></i>
                    <br>
                    <h2>Authors</h2>
                    <div class="m-auth-details f-cb">
                        <div class="author-part">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <a href="/coauthors"><span data-hover="Co-authors">Co-authors</span></a>
                            <p>This is Co-authors Page</p>
                        </div>
                        <div class="author-part">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <a href="/statisticsdetails/publication_author_sortable"><span data-hover="Publication by Author">Publication by Author</span></a>
                            <p>This is Co-authors Page</p>
                        </div>
                        <div class="author-part">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <a href="/statisticsdetails/author_appearingtimes"><span data-hover="Author by appearing times">Author by appearing times</span></a>
                            <p>This is Co-authors Page</p>
                        </div>
                        <div class="author-part">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <a href="/statisticsdetails/author_search"><span data-hover="Author search">Author search</span></a>
                            <p>This is Co-authors Page</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-year" id="Year">
                <div class="m-box">
                    <i class="fa fa-table fa-2x"></i>
                    <br>
                    <h2>Year Data</h2>
                    <div class="m-charts f-cb">
                        <div class="m-charts-left f-fl">
                            <h3><a href="/statisticsdetails/publication_year">Publications By Year</a></h3>
                            <div id="pubByYear" class="chartPic"></div>
                        </div>
                        <div class="m-charts-right f-fr">
                            <h3><a href="/statisticsdetails/author_year">Authors By Year</a></h3>
                            <div id="authByYear" class="chartPic"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>
