@charset "UTF-8";
.m-box {
    width: 1170px;
    margin: 0 auto;
}

nav {
    width: 100%;
    height: 70px;
    background: #515F74;
    position: fixed;
    top: 0;
    z-index: 999;
}

nav .m-menu {
    width: 1170px;
    margin: 0 auto;
}

nav .nav-fir:first-child {
    border-left: 2px solid #fafafa;
}

nav .nav-fir {
    width: 15.9999%;
    height: 70px;
    float: left;
    border-right: 2px solid #fafafa;
}

nav .nav-fir a {
    width: 100%;
    text-align: center;
    display: inline-block;
    line-height: 70px;
    color: #fff;
    font-size: 20px;
    font-family: "Malayalam MN";
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

nav .nav-fir a:hover {
    color: #23B6FA;
}

nav .nav-sec {
    width: 100%;
    height: 0;
    overflow: hidden;
    margin: 0 auto;
    background: #515F74;
}

nav .nav-sec a {
    font-size: 15px;
    height: 30px;
    line-height: 30px;
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

button {
    width: 70px;
    height: 33px;
    background: #23B6FA;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3), inset 0 -3px 2px rgba(0, 0, 0, 0.25);
}

#content .tableTitle {
    color: #000;
    font-size: 20px;
    margin: 20px 0;
}

#content {
    margin-top: 100px;
}

footer {
    height: 100px;
    line-height: 100px;
    width: 100%;
    margin-top: 150px;
    text-align: center;
    font-size: 30px;
    background: rgb(124, 181, 236);
    color: #fff;
}

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 3%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: none;
    text-indent: 100%;
    background: url("../images/arrow_up.png") no-repeat 50% 44% #2195de;
    border-radius: 30em;
}

#toTopHover {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

#toTop:active,
#toTop:focus {
    outline: none;
}

.returnBtn {
    margin: 10px 0 0 10px;
    display: inline-block;
    border-radius: 10px;
    padding: 5px 20px;
    background: rgb(243, 152, 57);
    color: rgb(146, 88, 0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3), inset 0 -3px 2px rgba(0, 0, 0, 0.25);
}

.coAuthor {
    margin: 15px;
}

table {
    border-collapse: collapse;
    display: table;
}

table thead th {
    font-weight: bold;
}

table,
th,
td {
    border: 2px solid #eaeaea;
    cursor: default;
    font-size: 16px;
}

table td,
table th {
    padding: 20px;
    text-align: center;
}

table thead th:hover {
    background: #f5f5f5;
}

table thead th span {
    display: none;
}

table tbody tr:hover {
    background: #f5f5f5;
}

thead th a {
    text-decoration: none;
    color: #000;
}

table tbody {
    text-align: center;
}

.authorSearch {
    position: relative;
    right: 0;
}

.authorSearch input {
    position: absolute;
    top: -15px;
    right: 80px;
    width: 200px;
    height: 33px;
    font-size: 20px;
    text-indent: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3);
}

.authorSearch button {
    position: absolute;
    width: 70px;
    height: 33px;
    right: 0;
    top: -15px;
}

.authorDegree {
    float: right;
    margin-right: 35px;
}

.authorDegree label {
    display: block;
    font-size: 20px;
    font-family: "Malayalam MN";
    margin: 10px 0;
}

.authorDegree input {
    display: block;
    width: 180px;
    height: 35px;
    font-size: 16px;
    text-indent: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3);
}

.authorDegree a {
    display: inline-block;
    margin-top: 30px;
    width: 180px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #23B6FA;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3), inset 0 -3px 2px rgba(0, 0, 0, 0.25);
}
.showTotalAuthors{
    width: 80%;
}

.showTotalAuthors tbody td{
    line-height: 30px; 
}

#container {
    margin-top: 50px;
}

.tables {
    margin-top: 20px;
    width: 650px;
}

#content h1 {
    color: rgb(124, 181, 236);
    font-size: 25px;
    font-family: "Malayalam MN";
}

.coauthorsForm {
    color: #222;
    font-size: 16px;
}

.coauthorsForm input,
.coauthorsForm select {
    width: 150px;
    height: 30px;
    padding-left: 5px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3);
}

.coauthorsForm input[type="submit"]{
    margin-top: 25px;
    width: 100px;
    height: 30px;
    background: #23B6FA;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3), inset 0 -3px 2px rgba(0, 0, 0, 0.25);
}
