@charset "UTF-8";
body {
    background: #fafafa;
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

#content {
    margin-top: 120px;
}

.returnBtn {
    margin: 10px 0 0 10px;
    display: inline-block;
    border-radius: 10px;
    padding: 5px 20px;
    background: rgb(243, 152, 57);
    color: rgb(146, 88, 0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3), inset 0 -3px 2px rgba(0, 0, 0, 0.25);
}

.coAuthor {
    margin: 15px;
}

table {
    border-collapse: collapse;
    display: table;
}

table thead th{
    /*background: rgb(124, 181, 236);*/
    font-weight: bold;
}

table,
th,
td {
    border: 2px solid #eaeaea;
    cursor: default;
    font-size: 16px;
}

table td,
table th {
    padding: 20px;
    text-align: center;
}

table thead th:hover {
    background: #f5f5f5;
}

table thead th span {
    display: none;
}

table tbody tr:hover {
    background: #f5f5f5;
}

thead th a {
    text-decoration: none;
    color: #000;
}

table tbody {
    text-align: center;
}

.authorSearch {
    position: relative;
    right: 0;
}

.authorSearch input {
    position: absolute;
    top: -15px;
    right: 80px;
    width: 200px;
    height: 33px;
    font-size: 20px;
    text-indent: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3);
}

.authorSearch button {
    position: absolute;
    width: 70px;
    height: 33px;
    right: 0;
    top: -15px;
    background: #23B6FA;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3), inset 0 -3px 2px rgba(0, 0, 0, 0.25);
}

#container {
    margin-top: 50px;
}

.tables {
    margin-top: 20px;
    width: 650px;
}

#content .dataSetName{
    display: none;
}
#page{
    padding: 20px 0;
}
#content h1{
    color: rgb(124, 181, 236);
    font-size: 25px;
    font-family: "Malayalam MN";
}

.coauthorsForm{
    color: #222;
    font-size: 16px;
    position: absolute;
    right: 55px;
    top: 170px;
}

#content .tableTitle{
    color: #000;
    font-size: 20px;
    margin: 20px 0;
}
