@charset "UTF-8";
a {
    text-decoration: none;
    color: #000;
}

.nav {
    margin: 0;
    padding: 0;
}

.nav li {
    color: #fff;
    width: 250px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background: #52cfeb linear-gradient(#52cfeb, #42A2BC);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3), inset 0 -3px 2px rgba(0, 0, 0, 0.25);
}

.nav a {
    color: #fff;
}

#navigation a,
.returnBtn {
    margin: 10px 0 0 10px;
    display: inline-block;
    border-radius: 10px;
    padding: 5px 20px;
    background: rgb(243, 152, 57);
    color: rgb(146, 88, 0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3), inset 0 -3px 2px rgba(0, 0, 0, 0.25);
}

.coAuthor {
    margin: 15px;
}

table {
    border-collapse: collapse;
    display: table;
}

table,
th,
td {
    border: 1px solid #eaeaea;
    cursor: default;
}

table td,
table th {
    padding: 10px;
}

table thead th:hover {
    background: #f5f5f5;
}

table thead th span {
    display: none;
}

table tbody tr:hover {
    background: #f5f5f5;
}

thead th a {
    text-decoration: none;
    color: #000;
}

table tbody td {
    text-align: center;
}

.authorSearch {
    position: relative;
    right: 0;
}

.authorSearch input {
    position: absolute;
    right: 66px;
}

.authorSearch button {
    position: absolute;
    right: 0
}

#container{
    margin-top: 50px;
}
.tables{
    margin-top: 20px;
    width: 650px;
}
